@model MyCinema.Models.BookSeat

@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>


@using (Html.BeginForm("AddBooking", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>BookSeat</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.movieId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.movieId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.movieId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.movieName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.movieName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.movieName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.moviedate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.moviedate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.moviedate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.movietime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.movietime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.movietime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Full_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Full_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Full_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.seatno, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.seatno, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.seatno, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <label class="label-danger">@ViewBag.DuplicateMessage</label>
        </div>
    </div>
    <div>
        @TempData["Sucess"]
    </div>
</div>

}
<div>
    <br />

    @using (Html.BeginForm("ChoosenSeats", "Account"))
    {
        <input type="submit" value="Check Seats" class="btn btn-default" onclick="return confirm('You should enter the movie id in choosen seats page to know the booked seats [you can see the movie Id in the top of page]');" />
    }
</div>
<div>
    @Html.ActionLink("Back to List", "UsersMoviesList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
