@model IEnumerable<MyCinema.Movy>

@{
    ViewBag.Title = "UsersMoviesList";
}

<h2>UsersMoviesList</h2>

<p>
    @Html.ActionLink("HomePage", "UserPage","Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.movie_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age_limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_dis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_hall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_pic)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.movie_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age_limit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movie_dis)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movie_date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movie_time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.movie_hall)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.price)
    </td>

    <td>
        <img src="@Url.Content("~/Images/"+item.movie_pic)" height="100" width="100" />
    </td>
    <td>
        @using (Html.BeginForm("BuyTicket", "Account", new { id = item.Id }))
        {
            <input type="submit" value="Buy Ticket" class="btn btn-default" onclick="return confirm('Are you shure you want to Buy ticket to watch @item.movie_name');" />
        }
        @* @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
    </td>
</tr>
}

</table>
