@model IEnumerable<MyCinema.Movy>

@{
    ViewBag.Title = "Home Page";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("Create New", "AddMovie","Admin")
</p>
<table>
    @foreach (Movy item in @Model)
    {
<tr>
    <td>
        @item.movie_name <span style="padding-left:40px"></span>
    
        @item.movie_date <span style="padding-left:40px"></span>
    
        @item.movie_time <span style="padding-left:40px"></span>
    
       <div> <img src="@Url.Content("~/Images/"+item.movie_pic)" height="100" width="100" /></div> <span style="padding-left:20px"></span>
    </td>
    
    <td>
        @Html.ActionLink("Edit", "Edit",new { id=item.Id})|
        @Html.ActionLink("Details", "Details", new { id = item.Id })|
        @Html.ActionLink("Delete", "Delete","Admin", new { id = item.Id })
    </td>

</tr>
    }
</table>

